* {
    margin: 0px;
}

body {
    background-color: darkslategray;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: khaki;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
}

.field {
    background-color: lightyellow;
    margin: 5px;
}

.field:hover {
    background-color: rgb(211, 211, 186);
}

.field:active {
    background-color: rgb(133, 133, 121);
}